.box {
  margin-left: 30px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.root {
  li {
    display: inline;
    margin-left: 5px;

    &.selected {
      background-color: #fe5f1e;
      cursor: pointer;
      color: #fff;
    }

    a {
      justify-content: center;
      align-self: center;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      display: inline-block;
      color: #fe5f1e;

      &:hover {
        background-color: #fe5f1e;
        cursor: pointer;
        color: #fff;
      }
    }
  }
  :global {
    ul {
      display: flex;
      margin-left: 42px;
    }

    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}