.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0,0,0, 0.1);
  padding: 12px 22px;
  padding-left: 42px;
  width: 300px;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.20s ease-in-out;

  &:focus {
    border: 1px solid rgba(0,0,0, 0.2);
    width: 450px;
  }
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  left: 14px;
  top: 12px;
}